<%include header %>

<h3>Sản phẩm đã xem</h3>
<!-- content -->
<% if(list){ %>
<div class="ish-row ish-content ish-portfolio ish-macy">

  <% list.forEach(function(id){ %>
  <% data.products.forEach(function(product){ %>
  <% if (product.id == id) { %>
  <a class="ish-portfolio-item ish--tc13 ish-portfolio-<%= product.catalog %>"
    href="/portfolio-detail/<%= product.SEOlink %>-<%= product.id %>">
    <div class="ish-portfolio-item__image-container">
      <img class="ish-portfolio-item__image" src="<%= product.bigImage %>" alt="business cards">
    </div>
    <div class="ish-portfolio-item__desc">
      <span class="ish-portfolio-item__title"><%= product.title %></span>
      <span class="ish-portfolio-item__subtitle"><%= product.catalog %></span>
    </div>
  </a>
  <%  }})}); %>
  <% } %>
</div>


<%include footer %>